.wrapper {
  transform: none !important;
  position: relative;
  overflow: hidden;
}

.boxes {
  font-size: 20px;
  position: relative;
  text-align: center;
}

.mark {
  position: absolute;
  width: 4%;
  height: 100%;
  left: 48%;
  top: 0;
  background: rgba(255, 0, 0, .5);
}
